<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FSE-Chat-Room-register</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../public/css/register.css">

  </head>
  <body>
    <!-- navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top nav-color">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand">FSE Chat Room</a>
        </div>

    </div>
    </div>

    <!-- background-picture -->
    <div class="container" id="topContainer">

        <div class="row">
          <div class="col-md-6 col-md-offset-3" id="topRow">
            <h1>Welcome to FSE Chat Room</h1>
            <p class="serif marginTop">Create a new Account!</p>
            <form id="form" role="form" onsubmit="return false;">
              <!-- username -->
              <div class="form-group marginTop">
                <label class="cursive" for="username">Username</label>
                <input id="username" class="form-control" type="text" placeholder="Enter username"
                       autofocus autocomplete="off"/>
              </div>
              <!-- password -->
              <div class="form-group">
                <label class="cursive" for="password">Password</label>
                <input id="password" class="form-control" type="password" placeholder="Enter Password"/>
              </div>
              <!-- confirm password -->
              <div class="form-group">
                <label class="cursive" for="password">Confirm Password</label>
                <input id="cfpassword" class="form-control" type="password" placeholder="Confirm Password"/>
              </div>
              <!-- Register -->
                <div class="form-group marginTop">
                    <button id ="register" class="btn btn-info">Register</button>
                </div>
            </form>

          </div>
        </div>
      </div>

    <script src="../public/js/jquery-1.11.2.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script>
        $('#register').on({
            click: function () {
                var username = $('#username').val();
                var password = $('#password').val();
                var cfpassowrd = $('#cfpassword').val();

                if (username == '') {
                    alert('Please input your username!');
                    return false;
                }
                var reg = /^.{4,12}$/
                if (!reg.test(password)) {
                    alert('Password should be 4 to 12 characters');
                    return false;
                }

                if (password !== cfpassowrd) {
                    alert('Your password and confirmation password do not match');
                    return false;
                }
                 alert('Register success! You can log in now!');

                $.post('/register/signUp', {username: username, password: password}, function (res) {
                    if (res.success == 1) {
                        location.href = 'login';
                    } else {
                        alert(res.err);
                    }
                }, 'json')
            }
        });

    </script>
  </body>
</html>
